
body{
    font-family: 'Montserrat', sans-serif;
}

/* section.hero__image div.hero__image div h1.hero__text__h1 {

} targeting specific element class*/

section {
    max-width: 1300px;
    margin: 0 auto;
}

.header__container {

    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 200px;
}

.header__nav__right {

    display: flex;
}

.header__nav__ul {
    align-items: center;
    display: flex;
}

.header__nav__ul li a {
    padding-left: 15px;
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    color: #11743f;
    font-weight: 500;
    text-transform: uppercase;
}

.header__nav__ul li a:hover {
    text-decoration: underline;
}

.social__media__links__ig {
    width: 30px;
    height: 30px;
    fill: #11743f;
    padding-left: 15px;

}

.social__media__links__email {
    width: 27px;
    height: 30px;
    stroke: #11743f;
    padding-left: 15px;
  
}

.hero__section__container {
    
    margin-top: 50px;
}

.hero__image__background {
    background: url('https://images.squarespace-cdn.com/content/v1/591f019b9de4bbd813dec8bf/1565279898667-2H8X2FFMAZQ9V8X76XKM/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/DSC07558.jpg?format=2500w');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero__h1 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 40px;
}

.hero__p__container {
    display: flex;
    justify-content: center;
}

.hero__p {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #b3b3b3;
    border-right: 2px solid #b3b3b3;
    padding: 0 10px 0 10px;
}

.hero__p.no__border__right {
    border: none;
}

.hr {
    margin: 40px 0 40px 0;
}

.about__border {
    
}

.about__container {
    display: flex;
    justify-content: space-around;
}

.about__location__h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
    line-height: 1.6;
}

.about__p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    
}

.about__button {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  .button1 {
    background-color: white; 
    color: black; 

    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
