
body{
    font-family: 'Montserrat', sans-serif;
}

/* section.hero__image div.hero__image div h1.hero__text__h1 {

} targeting specific element class*/

section {
    max-width: 1300px;
    margin: 0 auto;
}

.header__container{

}

.logo {
    width: 200px;
}

.header__flex__container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}


.menu__items__right {
    
}

.menu__items__right__ul {
    display: flex;
    margin: 15px 0 15px 0;

}

.menu__items__right__ul li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    color: #11743f;
    font-weight: 700;
}

.menu__list__text {
    padding: 0 10px;
}

.menu__list__text.no__padding__right {
padding-right: 0;
}

.menu__items__right__ul li a:hover {
    text-decoration: underline;
}

.homepage__hero__image {
    max-width: 100%;
    
}

.social__media__links__ig {
    width: 30px;
    height: 30px;
    fill: #11743f;
    padding-left: 15px;
    margin-top: -5px;
}

.social__media__links__email {
    width: 27px;
    height: 30px;
    stroke: #11743f;
    padding-left: 15px;
    margin-top: -5px;
}

.title__h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.text__h2__container {
    text-align: center;
    margin-bottom: 80px;
}

.text__h2 {
    padding: 0 15px 0 15px;
    border-right: 2px solid black; 
}

.text__h2.no__border__right {
    border: none;
}

.grid__images__1__container {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.grid__image__single {
    width: 100%;
    object-fit: cover;
    height: 83%;
    display: inline-block;
}

.square__images__2 {

}

.square__images__1 {
    width: 21%;
    object-fit: cover;
    height: 21%;
    padding-left: 34px;
}

.grid__image__last {
    height: 58%;
    display: inline-block;
    padding: 34px 0 0 34px;
    width: 96.4%;
    object-fit: cover;
}

.hr {
    padding: 20px 0 20px 0;
}

.menu__section__1__container {
    
    padding: 20px;
}

.menu__section__1__ul {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.menu__section__1__li {
    padding-right: 50px;

}

.menu__section__1__li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #11743f;
    font-weight: bold;
}

.menu__section__1__li.no__padding__right {
    padding: 0;
}

.menu__section__1__li a:hover {
    text-decoration: underline;
}

.p__text__container{
    
    font-size: 13px;   
    text-align: center;
    line-height: 1.8;
}

.menu__title {
    font-weight: bold;
    
}

.menu__price {
    padding-bottom: 20px;
}

.menu__section__2__container {
    border: 1px red solid;
}